# Dependencies
node_modules/

# Build output
build/
dist/
*.js
*.css

# Logs
*.log
npm-debug.log*

# ESLint
.eslintcache

# Git
.git/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pack

.git/
*.pack
index.pack*