# Dependencies
node_modules/

# Build output
build/
dist/
# Ignore only generated .js and .css files in build/dist, not source files
build/*.js
build/*.css
dist/*.js
dist/*.css

# Logs
*.log
npm-debug.log*

# ESLint
.eslintcache

# Git
.git/
*.pack
index.pack*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.pack