.hourly-containe {
  color: white;
  border-radius: 20px;
  padding: 2%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.hourly-container h2 {
  font-size: 18px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 5px;
  margin-left: 4%;
  margin-right: 4%;
}

.hourly-list {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  margin-left: 4%;
  margin-right: 4%;
}

.hourly-item {
  text-align: center;
  min-width: 20%;
  min-height: 150px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow-x: auto;
  gap: 5px;
}

.hourly-item p {
  margin: 5px 0;
  font-size: 14px;
}

.error {
  color: red;
}

/* Smaller screen */
@media (max-width: 768px) {
  .hourly-container {
    color: white;
    border-radius: 20px;
    padding: 0%;
    width: 100%;
}

  .hourly-container h2 {
    font-size: 18px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .hourly-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .hourly-item {
    text-align: center;
    min-width: 20%;
    min-height: 150px;
    border-radius: 8px;
    overflow-x: auto;
    gap: 5px;
  }

  .hourly-item p {
    margin: 5px 0;
    font-size: 14px;
  }

  .error {
    color: red;
  }

}
