.main-container {
  color: white;
  border-radius: 20px;
  background-color: transparent;
  min-height: 100%;
  width: 91%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 3%;
  padding-top: 20%;
  position: absolute;
  z-index: 3; /* Above the content background */
};

.current-temp {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.current-temp h2 {
  font-size: calc(1.1vw + 3vh);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.current-temp h3 {
  font-size: calc(1vw + 1.25vh);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: #ccc;
}

.current-temp h1 {
  font-size: calc(2.5vw + 2.5vh);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.current-temp p {
  font-size: calc(0.5vw + 1vh);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: #ccc;
}

.error {
  color: red;
}

/* Smaller screen */
@media (max-width: 880px) {
  .main-container {
    padding: 0%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    text-align: start;
  }

  .current-temp {
    padding-left: 2%;
  }
}