.main-container {
  color: white;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 100%;
  display: flex;
  justify-content: center; /* Centers content horizontally */
  text-align: center;
  padding-left: 3%;
};

.current-temp {
  display: flex;
  flex-direction: column;
  justify-items: space-evenly;
}

.current-temp h2 {
  font-size: calc(1.1vw + 3vh);
}

.current-temp h3 {
  font-size: calc(1vw + 1.25vh);
  color: #ccc;
}

.current-temp h1 {
  font-size: calc(2.5vw + 2.5vh);
}

.current-temp p {
  font-size: calc(0.5vw + 1vh);
  color: #ccc;
}

.error {
  color: red;
}

/* Smaller screen */
@media (max-width: 768px) {
  .main-container {
    padding: 0%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    text-align: start;
  }

  .current-temp {
    padding-left: 2%;
  }
}