.search-bar {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input-wrapper {
    flex: 1;
}

.search-input {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5%;
}

.search-input::placeholder {
    color: #ccc;
}

.icon-small {
    width: 24px;
    height: 24px;
    fill: white;
}
