.search-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input-wrapper {
    flex: 1;
}

/* Smaller screen */
@media (max-width: 756px) {
    .search-bar {
        padding: 10px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}