.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 68, 68, 0.8);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-header {
    display: flex;
    align-item: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.back-button {
    cursor: pointer;
}

.icon-small {
    width: 24px;
    height: 24px;
    fill: white;
}

.search-input-wrapper {
    flex: 1;
}

.search-input {
    width: 90%;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: white;
    font-size: 16px;
}

.search-input::placeholder {
    color: #ccc;
}

.search-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 18px;
    flex: 1;
}

.search-results {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}

.city-result {
    padding: 10px;
    background-color: #444;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.city-result:hover {
    background-color: #555;
}