.ten-day-container {
  color: white;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
}

.ten-day-container h2 {
  font-size: calc(0.75vw + 1vh);
  border-bottom: 1px solid #ffffff;
  padding: 2%;
  padding-bottom: 0%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
}

.ten-day-list {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
  height: 58%;
}

.ten-day-item {
  text-align: center;
  min-width: 20%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  overflow-x: auto;
  scrollbar-color: #000000 #494949;
  gap: 5px;
}

.ten-day-item p {
  margin: 5px 0;
  font-size: calc(0.5vw + 1vh);
}

.error {
  color: red;
}

/* Smaller screen */
@media (max-width: 768px) {
  .ten-day-container {
    color: white;
    border-radius: 20px;
    padding: 0%;
    width: 100%;
  }

  .ten-day-container h2 {
    font-size: calc(1vw + 1vh);
    border-bottom: 1px solid #ffffff;
    padding-bottom: 5px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .ten-day-list {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0%;
    height: 65%;
  }

  .ten-day-item {
    text-align: center;
    min-width: 25%;
    min-height: 50%;
    border-radius: 8px;
    overflow-x: auto;
    gap: 5px;
  }

  .ten-day-item p {
    margin: 5px 0;
    font-size: calc(1vw + 1vh);
  }
}