.uv-contain {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding-top: 2%;
    padding-left: 6%;
    padding-right: 6%;
    color: white;
    height: 100%;
}

.uv-contain h2 {
    font-size: calc(0.5vw + 1vh);
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.uv-contain p {
    font-size: calc(0.4vw + 1vh);
    margin: 5px 0;
}

.error {
    color: red;
}

/* Smaller screen */
@media (max-width: 880px) {
  .uv-contain {
    padding: 8px;
  }
  .uv-contain h2 {
    font-size: calc(1vw + 1vh);
  }
  .uv-contain p {
    font-size: calc(1vw + 1vh);
    margin: 3px 0;
  }
}
