.wind-container {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 10px;
    color: white;
    height: 100%;
}

.wind-container h2 {
    font-size: calc(0.5vw + 1vh);
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
    padding-bottom: 5px;
}

.wind-container p {
    font-size: calc(0.4vw + 1vh);
    margin: 5px 0;
}

.error {
    color: red;
}

/* Smaller screen */
@media (max-width: 768px) {
  .uv-container {
    padding: 8px;
  }
  .uv-container h2 {
    font-size: calc(1vw + 1vh);
  }
  .uv-container p {
    font-size: calc(1vw + 1vh);
    margin: 3px 0;
  }
}
