#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  font-family: 'Segoe UI', Times, sans-serif;
}
.app {
  width: 90%;
  height: 90%;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
}

.content {
  display: flex;
  gap: 20px; /* Gap between columns */
  width: 96%;
  height: 85%;
  margin: 6% 3% 4% 3%; /* Top, Right, Bottom, Left */
  overflow: hidden;
}

.left-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3%;
  width: 40%;
  height: 100%;
}

.divider {
  width: 3%;
  height: 100%;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3%; /* Gap between items in right panel */
  width: 57%;
  height: 100%;
}

/* Search bar need to be fixed in the future */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #333; /* Dark background */
    padding: 2px 5px; /* Thin padding */
    border-radius: 25px; /* Uniform rounding for all corners */
    height: 5%; /* Thin height */
    overflow: hidden; /* Ensures inner elements don't break the radius */
}

.main-item {
  flex: 1; /* Takes available space */
  width: 100%;
  border-radius: 20px;
  height: 92%;
  background-color: transparent;
  overflow-y: hidden;
}

.hourly-item {
  flex: 1; /* Takes available space */
  width: 100%;
  height: 34%;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  overflow-y: hidden;
}

.tenday-item {
  flex: 1; /* Takes available space */
  width: 100%;
  height: 34%;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  overflow-y: hidden;
}

.smaller-item-list {
  flex: 1; /* Takes available space */
  width: 100%;
  height: 25%;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.uv-item {
  width: 48%;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  overflow-y: hidden;
}

.wind-item {
  width: 48%;
  border-radius: 20px;
  color: white;
  background-color: transparent;
  overflow-y: hidden;
}

/* Smaller screen (below 756px) */
@media (max-width: 756px) {
  .app {
    padding: 15px;
    width: 90%;
    height: 90%;
    border-radius: 30px;
  }

  .content {
    flex-direction: column; /* Stack vertically */
    justify-content: center;
    gap: 0%; /* Consistent gap */
    margin: 0%;
    height: 90%;
    overflow-x: hidden;
  }

  .left-panel {
    width: 100%;
    max-height: 40%;
    margin: 0%;
  }

  .divider {
    height: 2%;
  }

  .right-panel {
    width: 100%;
    margin: 0%;
    height: 100%;
    overflow-y: scroll;
  }

  .search-bar {
    height: 10%;
  }

  .main-item {
    width: 100%;
  }

  .hourly-item {
    width: 100%;
    color: white;
    min-height: 47%;
  }

  .tenday-item {
    width: 100%;
    color: white;
    min-height: 47%;
  }

  .smaller-item-list {
    margin-top: 2%;
    width: 100%;
    flex-direction: row; /* Stack UV and Wind */
    gap: 2%; /* Consistent gap between UV and Wind */
    min-height: 45%;
  }

  .uv-item {
    width: 100%;
    color: white;
  }

  .wind-item {
    width: 100%;
    color: white;
  }
}