#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    font-size: 100%;
}

.app {
    width: 90%;
    height: 90%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.content {
    display: flex;
    gap: 20px; /* Gap between columns */
    width: 100%;
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    max-width: 37%;
    height: 100%;
    margin-right: 2%;
}

.search-bar {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-item {
    width: 100%;
    border-radius: 20px;
    padding: 2%;
    color: white;
    min-height: 100%;
}

.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Gap between items in right panel */
    max-width: 55%;
    height: 100%;
    
}

.hourly-item {
    width: 100%;
    max-height: 30%;
    border-radius: 20px;
    color: white;
}

.tenday-item {
    width: 100%;
    max-height: 30%;
    border-radius: 20px;
    color: white;
}

.smaller-item-list {
    width: 100%;
    min-height: 26%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.uv-item {
    width: 48%;
    border-radius: 20px;
    color: white;
}

.wind-item {
    width: 48%;
    border-radius: 20px;
    color: white;
}

/* Smaller screen (below 756px) */
@media (max-width: 756px) {
    .app {
        padding: 15px;
        gap: 15px; /* Reduced gap for smaller screens */
        width: 90%;
        height: 90%;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .content {
        flex-direction: column; /* Stack vertically */
        gap: 0%; /* Consistent gap */
        margin: 0%;
    }

    .left-panel {
        width: 100%;
        min-height: 40%;
        margin: 0%;
    }

    .search-bar {
        width: 100%;
    }

    .main-item {
        width: 100%;
    }

    .right-panel {
        width: 100%;
        gap: 15px; /* Consistent gap */
        margin: 0%;
    }

    .hourly-item {
        width: 100%;
        height: 30%; /* Ensure it adapts */
        color: white;
    }

    .tenday-item {
        width: 100%;
        height: 30%; /* Ensure it adapts */
        color: white;
    }

    .smaller-item-list {
        width: 100%;
        min-height: 26%;
        flex-direction: row; /* Stack UV and Wind */
        gap: 15px; /* Consistent gap between UV and Wind */
    }

    .uv-item {
        width: 100%;
        color: white;
    }

    .wind-item {
        width: 100%;
        color: white;
    }
}