#root {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.app {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    height: 90%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 0.5%;
    align-items: center;
    gap: 20px;
    flex-direction: row;
}

.left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.right-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    min-height: 100%;
}

.right-item {
    width: 55%; /* Adjusted for better responsiveness */
    min-height: 50%; /* Added max-height for scrollable content */
    overflow-x: auto;
    border-radius: 8px;
    color: white;
}

@media (max-width: 756px) {
  .app {
    padding: 10px;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 0.4%;
  }

  .left-panel {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
  }

  .right-panel {
    display: flex;
    justify-content: center;
  }

  .right-item {
    max-width: 100%; 
    height: 40%;
    overflow-x: auto;
    display: flex;
    justify-content: center;
  }
}